/*Existen cuatro tipos de selectores
para agregar estilos en css

selector de etiqueta:
header - section - h1 ...
Example:

header {
 background: pink;
}

selector descendente:
Example:
body header section div a {
  background: pink;
} // este selector navega entre etiquetas para llegar a la que
quiere aplicarle el estilo en este caso la etiquera a

selector de clase:
.link {
  background: pink;
} // el mas popular

selector de id:
#portafolio {
  background: pink;
}  / se utiliza el id de la etiqueta html con un #
*/

/* gris claro = #626262;
background gris = #1b2127;  */

body {
  font-family: 'Open Sans', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  /* font-style: italic; */
}

.hero {
  height: 500px;
  background-image: url('../Media/images/Hero_illustration.png');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.hero_title1 {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 70px;
  line-height: 1.1em;
  letter-spacing: -.4px;
  color: #606060;
}

.hero_title2 {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  line-height: 1.1em;
  letter-spacing: -.4px;
  color: #3f3f3f;
}

.hero_text {
  width: 700px;
}

.header {
  background-color: #efefef;
}

.header a {
  color: #000;
  text-decoration: none;
}
